<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

<section class="clear-fix media-page">

  <header class="media-page-header">
    <section class="media-details">
      <h1><%= @trip.name %> - <%= @place.place %></h1>
    </section>
    <nav>
      <a class="btn btn-primary add-entry"><%= button_to "Add Photos to Place", :action=>"add"%></a>
    </nav>
  </header>



<h1>media</h1>

<table>
	<tr>
		<td><img src="<%= @image_urls[0] %>"/></td>
		<td><img src="<%= @image_urls[1] %>"/></td>
		<td><img src="<%= @image_urls[2] %>"/></td>
	</tr>

	<tr>
		<td><img src="<%= @image_urls[3] %>"/></td>
		<td><img src="<%= @image_urls[4] %>"/></td>
		<td><img src="<%= @image_urls[5] %>"/></td>
	</tr>

	<tr>
		<td><img src="<%= @image_urls[6] %>"/></td>
		<td><img src="<%= @image_urls[7] %>"/></td>
		<td><img src="<%= @image_urls[8] %>"/></td>
	</tr>

	<% @images.each do |image| %>
	<tr>
		<td><img src="<%= image.uri %>"/></td>
  </tr>
	<% end %>


</table>

