
<a class='btn btn-tertairy' href="https://api.instagram.com/oauth/authorize/?client_id=5b67ff0b32434374a78613490678a851&redirect_uri=<%= request.protocol %><%= request.host %>:<%= request.port %>/instagram/link?trip_place_id=<%=@trip.id%>@<%=@place.id%>&response_type=code">Instagram Photos</a>
